<footer id="contact">
    <div style="background-color: black; color: white;">
        <div class="container">
            <h3 style="margin-top: 100px; text-align: center; margin: 40px 40px;">Contact Us</h3>
            <div style="text-align: center; ">
                <a href="https://www.linkedin.com/in/mohan-i-70896a1a0/" class="fa fa-linkedin fa-2x"></a>
                <a href="https://twitter.com/MohanDo84503178" class="fa fa-twitter fa-2x"></a>
                <a href="https://www.instagram.com/mohan_evin/" class="fa fa-instagram fa-2x"></a>
    
            </div>
            <p class="text-center">copyrights @mohan-evin</p>
    
        </div>
    
    </div>

</footer>